.DS_Store
test-report.junit.xml
tsconfig.tsbuildinfo
coverage/
dist/
node_modules/

# Exclude generated doc files
!docs/
docs/*
!docs/*.md

# Exclude (most of) the testing vault
!test-vault/
test-vault/*
!test-vault/.obsidian/
test-vault/.obsidian/*
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/plugins/
test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/objo/
!test-vault/.obsidian/plugins/hot-reload/
!test-vault/.obsidian/plugins/dataview/
test-vault/.obsidian/plugins/objo/*
!test-vault/.obsidian/plugins/objo/.hotreload
